body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f0f2f5;
    transition: 0.3s;
}

header {
    background: linear-gradient(135deg, #6c63ff, #4a47d5);
    color: white;
    padding: 30px 20px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.info-header h1 {
    margin: 0;
    font-size: 24px;
}

.info-header p {
    margin: 5px 0 10px 0;
}

.botoes {
    display: flex;
    gap: 10px;
}

.btn, button {
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.btn {
    text-decoration: none;
    color: #6c63ff;
    background: white;
}

.btn:hover, button:hover {
    opacity: 0.8;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

.card {
    background: #f8f8f8;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.habilidade {
    margin-top: 15px;
}

.barra {
    background: #ddd;
    height: 12px;
    border-radius: 10px;
    overflow: hidden;
}

.progresso {
    height: 12px;
    border-radius: 10px;
}

.html { width: 60%;  background: #ff6b6b; }
.css {width: 55%; background: #4ecdc4; }
.js { width: 40%; background: #ffe66d; }

footer {
    text-align: center;
    padding: 20px;
    background: #6c63ff;
    color: white;
}

.dark {
    background: #121212;
    color: white;
}

.dark section {
    background: #1e1e1e;
}

.dark .card {
    background: #2a2a2a;
}

.fade {
    opacity: 0;
    transform: translateY(20px);
    animation: fade 1s forwards;
}

@keyframes fade {
    to {
        opacity: 1; 
        transform: translateY(0)
    }
}    